/* h1,p {
    color: burlywood;
}

.p1{
    color: rgb(43, 164, 116);
}

.container {
    text-align: center;
} */

/* .center-image {
    max-width: 100%;
    height: auto;
} */

/* .galery {
    padding-bottom: 50px;
    padding-left: 250px;
    padding-right: 250px;
    
    
} */